In [1]:
from pathlib import Path
import pandas as pd

In [2]:
# –ë–∞–∑–æ–≤—ã–µ –ø—É—Ç–∏
BASE = Path("..").resolve()
RAW_BASE = BASE / "data" / "raw" / "fbref"

SEASONS = ["epl_2019-2020","epl_2020-2021","epl_2021-2022","epl_2022-2023","epl_2023-2024","epl_2024-2025"]
FILES = ["schedule_results.csv", "standings.csv", "team_standard_stats.csv"]

In [3]:
# –ë—ã—Å—Ç—Ä–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞–ª–∏—á–∏—è —Ñ–∞–π–ª–æ–≤ –ø–æ –∫–∞–∂–¥–æ–º—É —Å–µ–∑–æ–Ω—É
summary = []
for s in SEASONS:
    d = RAW_BASE / s
    row = {"season": s}
    for f in FILES:
        p = d / f
        row[f] = "OK" if p.exists() else "MISSING"
        if p.exists():
            try:
                df = pd.read_csv(p, nrows=2)
                row[f + "_cols"] = df.shape[1]
            except Exception as e:
                row[f] = f"READ_ERR: {e}"
    summary.append(row)

pd.DataFrame(summary)

,season,schedule_results.csv,schedule_results.csv_cols,standings.csv,standings.csv_cols,team_standard_stats.csv,team_standard_stats.csv_cols
0,epl_2019-2020,OK,14,OK,19,OK,32
1,epl_2020-2021,OK,14,OK,19,OK,32
2,epl_2021-2022,OK,14,OK,19,OK,32
3,epl_2022-2023,OK,14,OK,19,OK,32
4,epl_2023-2024,OK,14,OK,19,OK,32
5,epl_2024-2025,OK,14,OK,19,OK,32

In [4]:
all_standings = []
all_teamstats = []

for s in SEASONS:
    d = RAW_BASE / s
    try:
        st = pd.read_csv(d / "standings.csv")
        st["season"] = s
        all_standings.append(st)
    except Exception as e:
        print(f"[ERR] standings {s}: {e}")

    try:
        ts = pd.read_csv(d / "team_standard_stats.csv")
        ts["season"] = s
        all_teamstats.append(ts)
    except Exception as e:
        print(f"[ERR] team stats {s}: {e}")

standings_all = pd.concat(all_standings, ignore_index=True)
teamstats_all = pd.concat(all_teamstats, ignore_index=True)

print("‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ!")
print("Standings shape:", standings_all.shape)
print("Team stats shape:", teamstats_all.shape)

‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ!
Standings shape: (120, 20)
Team stats shape: (120, 33)

In [5]:
import pandas as pd

# –ü—Ä–æ–≤–µ—Ä–∏–º –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏ –∏ —Å—Ç–æ–ª–±—Ü—ã –¥–ª—è –æ–¥–Ω–æ–≥–æ —Å–µ–∑–æ–Ω–∞ (–Ω–∞–ø—Ä–∏–º–µ—Ä, 2022-2023)
season_check = "epl_2022-2023"
check_path = RAW_BASE / season_check

# –ó–∞–≥—Ä—É–∂–∞–µ–º —Ñ–∏–∫—Å—Ç—É—Ä—ã
fx = pd.read_csv(check_path / "schedule_results.csv")

print(f"üìÖ {season_check} ‚Äî schedule_results.csv")
print(f"–†–∞–∑–º–µ—Ä: {fx.shape}")
print("–°—Ç–æ–ª–±—Ü—ã:", list(fx.columns))
display(fx.head(3))

üìÖ epl_2022-2023 ‚Äî schedule_results.csv
–†–∞–∑–º–µ—Ä: (392, 14)
–°—Ç–æ–ª–±—Ü—ã: ['wk', 'day', 'date', 'time', 'home', 'xg', 'score', 'xg_1', 'away', 'attendance', 'venue', 'referee', 'match_report', 'notes']

,wk,day,date,time,home,xg,score,xg_1,away,attendance,venue,referee,match_report,notes
0,1,Fri,2022-08-05,20:00 (21:00),Crystal Palace,1.2,0‚Äì2,1.0,Arsenal,25286,Selhurst Park,Anthony Taylor,Match Report,NaN
1,1,Sat,2022-08-06,12:30 (13:30),Fulham,1.2,2‚Äì2,1.2,Liverpool,22207,Craven Cottage,Andy Madley,Match Report,NaN
2,1,Sat,2022-08-06,15:00 (16:00),Newcastle Utd,1.7,2‚Äì0,0.3,Nott'ham Forest,52245,St James' Park,Simon Hooper,Match Report,NaN

In [6]:
from collections import Counter

cols_per_season = {}
for s in SEASONS:
    path = RAW_BASE / s / "schedule_results.csv"
    df = pd.read_csv(path)
    cols_per_season[s] = list(df.columns)

# –ü—Ä–æ–≤–µ—Ä–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –Ω–∞–±–æ—Ä—ã –∫–æ–ª–æ–Ω–æ–∫
unique_structures = Counter(tuple(cols) for cols in cols_per_season.values())
print(f"–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Å—Ç—Ä—É–∫—Ç—É—Ä: {len(unique_structures)}")

# –ï—Å–ª–∏ –≤—Å—ë –æ–∫, –≤—ã–≤–µ–¥–µ—Ç 1
if len(unique_structures) == 1:
    print("‚úÖ –í—Å–µ —Å–µ–∑–æ–Ω—ã –∏–º–µ—é—Ç –æ–¥–∏–Ω–∞–∫–æ–≤—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É fixtures.csv")
else:
    print("‚ö†Ô∏è –†–∞–∑–ª–∏—á–∏—è –Ω–∞–π–¥–µ–Ω—ã ‚Äî –Ω—É–∂–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –≤—Ä—É—á–Ω—É—é")
    for k, v in cols_per_season.items():
        print(f"{k}: {v}")

–£–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Å—Ç—Ä—É–∫—Ç—É—Ä: 1
‚úÖ –í—Å–µ —Å–µ–∑–æ–Ω—ã –∏–º–µ—é—Ç –æ–¥–∏–Ω–∞–∫–æ–≤—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É fixtures.csv

In [7]:
import re
import numpy as np
import pandas as pd
from pathlib import Path

# –æ–∂–∏–¥–∞–µ—Ç—Å—è, —á—Ç–æ SEASONS –∏ RAW_BASE —É–∂–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –≤ –Ω–æ—É—Ç–±—É–∫–µ
PROCESSED_DIR = (RAW_BASE.parent.parent / "processed" / "fbref")
PROCESSED_DIR.mkdir(parents=True, exist_ok=True)
out_path = PROCESSED_DIR / "epl_fixtures_all.csv"

def parse_score_to_cols(series):
    """–ò–∑ '2‚Äì1' / '2-1' -> –¥–≤–∞ —Å—Ç–æ–ª–±—Ü–∞ (home_goals, away_goals)."""
    def f(s):
        if pd.isna(s):
            return np.nan, np.nan
        m = re.search(r"(\d+)\s*[‚Äì-]\s*(\d+)", str(s))
        return (int(m.group(1)), int(m.group(2))) if m else (np.nan, np.nan)
    return series.apply(lambda s: pd.Series(f(s), index=["home_goals","away_goals"]))

frames = []
for s in SEASONS:
    df = pd.read_csv(RAW_BASE / s / "schedule_results.csv")
    df["season"] = s
    # —É–Ω–∏—Ñ–∏—Ü–∏—Ä—É–µ–º –∏–º–µ–Ω–∞ –Ω–∞ –≤—Å—è–∫–∏–π —Å–ª—É—á–∞–π
    df.columns = (
        df.columns.str.strip().str.lower()
          .str.replace(" ", "_").str.replace("%","pct")
          .str.replace("/", "_").str.replace("-", "_", regex=False)
    )
    # —Ä–∞—Å–ø–∞—Ä—Å–∏–º —Å—á—ë—Ç
    if "score" in df.columns:
        parsed = parse_score_to_cols(df["score"])
        df = pd.concat([df, parsed], axis=1)
    frames.append(df)

fixtures_all = pd.concat(frames, ignore_index=True)

# –æ—Å—Ç–∞–≤–∏–º —Ç–æ–ª—å–∫–æ —Å—ã–≥—Ä–∞–Ω–Ω—ã–µ –º–∞—Ç—á–∏ (–µ—Å—Ç—å –≥–æ–ª—ã —É –æ–±–µ–∏—Ö —Å—Ç–æ—Ä–æ–Ω)
fixtures_all = fixtures_all.dropna(subset=["home_goals","away_goals"]).copy()

# –∞–∫–∫—É—Ä–∞—Ç–Ω–æ –ø—Ä–∏–≤–µ–¥—ë–º —Ç–∏–ø—ã
for col in ["home_goals","away_goals"]:
    fixtures_all[col] = fixtures_all[col].astype(int)

# –ø–æ—Ä—è–¥–æ–∫ —Å—Ç–æ–ª–±—Ü–æ–≤ (–µ—Å–ª–∏ –µ—Å—Ç—å)
cols_order = [c for c in ["season","wk","date","time","home","away","score","home_goals","away_goals","xg","xg_1","venue","referee","attendance"] if c in fixtures_all.columns]
fixtures_all = fixtures_all[[*cols_order, *[c for c in fixtures_all.columns if c not in cols_order]]]

# —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ
fixtures_all.to_csv(out_path, index=False, encoding="utf-8")

print(f"‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–æ —Ñ–∏–∫—Å—Ç—É—Ä: {fixtures_all.shape[0]} —Å—Ç—Ä–æ–∫, {fixtures_all.shape[1]} —Å—Ç–æ–ª–±—Ü–æ–≤")
print(f"üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: {out_path}")
fixtures_all.head(3)

‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–æ —Ñ–∏–∫—Å—Ç—É—Ä: 2280 —Å—Ç—Ä–æ–∫, 17 —Å—Ç–æ–ª–±—Ü–æ–≤
üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: /Users/kekc/Projects/GIT/sports-stats-analysis/data/processed/fbref/epl_fixtures_all.csv

,season,wk,date,time,home,away,score,home_goals,away_goals,xg,xg_1,venue,referee,attendance,day,match_report,notes
0,epl_2019-2020,1,2019-08-09,20:00 (21:00),Liverpool,Norwich City,4‚Äì1,4,1,1.8,0.9,Anfield,Michael Oliver,53333,Fri,Match Report,NaN
1,epl_2019-2020,1,2019-08-10,12:30 (13:30),West Ham,Manchester City,0‚Äì5,0,5,1.1,3.2,London Stadium,Mike Dean,59870,Sat,Match Report,NaN
2,epl_2019-2020,1,2019-08-10,15:00 (16:00),Bournemouth,Sheffield Utd,1‚Äì1,1,1,1.3,1.3,Vitality Stadium,Kevin Friend,10714,Sat,Match Report,NaN

In [8]:
# === –û–±—ä–µ–¥–∏–Ω—è–µ–º standings –ø–æ –≤—Å–µ–º —Å–µ–∑–æ–Ω–∞–º ===
frames = []
for s in SEASONS:
    path = RAW_BASE / s / "standings.csv"
    df = pd.read_csv(path)
    df["season"] = s
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    frames.append(df)

standings_all = pd.concat(frames, ignore_index=True)

# –∞–∫–∫—É—Ä–∞—Ç–Ω–æ –ø—Ä–∏–≤–µ–¥—ë–º —Ç–∏–ø—ã
for c in ["w", "d", "l", "gf", "ga", "gd", "pts"]:
    if c in standings_all.columns:
        standings_all[c] = pd.to_numeric(standings_all[c], errors="coerce")

# —Å–æ—Ö—Ä–∞–Ω–∏–º
standings_out = PROCESSED_DIR / "epl_standings_all.csv"
standings_all.to_csv(standings_out, index=False, encoding="utf-8")

print(f"‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–æ standings: {standings_all.shape[0]} —Å—Ç—Ä–æ–∫, {standings_all.shape[1]} —Å—Ç–æ–ª–±—Ü–æ–≤")
print(f"üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: {standings_out}")
standings_all.head(3)

‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–æ standings: 120 —Å—Ç—Ä–æ–∫, 20 —Å—Ç–æ–ª–±—Ü–æ–≤
üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: /Users/kekc/Projects/GIT/sports-stats-analysis/data/processed/fbref/epl_standings_all.csv

,rk,squad,mp,w,d,l,gf,ga,gd,pts,pts_mp,xg,xga,xgd,xgd_90,attendance,top_team_scorer,goalkeeper,notes,season
0,1,Liverpool,38,32,3,3,85,33,52,99,2.61,68.9,37.7,31.2,0.82,41955,Mohamed Salah - 19,Alisson,‚Üí Champions League via league finish,epl_2019-2020
1,2,Manchester City,38,26,3,9,102,35,67,81,2.13,92.0,36.2,55.7,1.47,37097,Raheem Sterling - 20,Ederson,‚Üí Champions League via league finish,epl_2019-2020
2,3,Manchester Utd,38,18,12,8,66,36,30,66,1.74,62.2,37.7,24.5,0.64,57415,"Anthony Martial, Marcus Rashford - 17",David de Gea,‚Üí Champions League via league finish,epl_2019-2020

In [9]:
# === –û–±—ä–µ–¥–∏–Ω—è–µ–º team_standard_stats –ø–æ –≤—Å–µ–º —Å–µ–∑–æ–Ω–∞–º ===
from pathlib import Path
import pandas as pd

PROCESSED_DIR = (Path("..").resolve() / "data" / "processed" / "fbref")
RAW_BASE = (Path("..").resolve() / "data" / "raw" / "fbref")
PROCESSED_DIR.mkdir(parents=True, exist_ok=True)

SEASONS = ["epl_2019-2020","epl_2020-2021","epl_2021-2022","epl_2022-2023","epl_2023-2024","epl_2024-2025"]

frames = []
for s in SEASONS:
    p = RAW_BASE / s / "team_standard_stats.csv"
    df = pd.read_csv(p)
    df["season"] = s
    # —É–Ω–∏—Ñ–∏—Ü–∏—Ä—É–µ–º –∏–º–µ–Ω–∞
    df.columns = (
        df.columns.str.strip().str.lower()
          .str.replace(" ", "_").str.replace("%","pct")
          .str.replace("/", "_").str.replace("-", "_", regex=False)
    )
    # –ø—Ä–∏–≤–æ–¥–∏–º —á–∏—Å–ª–æ–≤—ã–µ
    num_like = df.columns.difference(["squad","season"])
    df[num_like] = df[num_like].apply(pd.to_numeric, errors="coerce")
    frames.append(df)

team_stats_all = pd.concat(frames, ignore_index=True)

# –±—ã—Å—Ç—Ä–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç–∏
expected_rows = 20 * len(SEASONS)
print(f"‚úÖ team_stats: {team_stats_all.shape} (–æ–∂–∏–¥–∞–ª–∏ ~{expected_rows} —Å—Ç—Ä–æ–∫)")
dups = team_stats_all.duplicated(subset=["season","squad"]).sum()
print(f"üîé –î—É–±–ª–∏–∫–∞—Ç—ã –ø–æ (season,squad): {dups}")

out_path = PROCESSED_DIR / "epl_team_stats_all.csv"
team_stats_all.to_csv(out_path, index=False, encoding="utf-8")
print(f"üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: {out_path}")

team_stats_all.head(3)

‚úÖ team_stats: (120, 33) (–æ–∂–∏–¥–∞–ª–∏ ~120 —Å—Ç—Ä–æ–∫)
üîé –î—É–±–ª–∏–∫–∞—Ç—ã –ø–æ (season,squad): 0
üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: /Users/kekc/Projects/GIT/sports-stats-analysis/data/processed/fbref/epl_team_stats_all.csv

,squad,pl,age,poss,mp,starts,min,90s,gls,ast,...,ast_per90,g_plus_a_per90,g_pk_per90,g_plus_a_pk_per90,xg_per90,xag_per90,xg_xag_per90,npxg_per90,npxg_xag_per90,season
0,Arsenal,29,25.8,53.8,38,418,3420,38.0,56,35,...,0.92,2.39,1.39,2.32,1.24,0.83,2.06,1.17,2.0,epl_2019-2020
1,Aston Villa,28,25.7,44.1,38,418,3420,38.0,40,32,...,0.84,1.89,1.03,1.87,1.16,0.90,2.06,1.10,2.0,epl_2019-2020
2,Bournemouth,27,25.2,44.1,38,418,3420,38.0,38,24,...,0.63,1.63,0.89,1.53,1.18,0.80,1.98,1.10,1.9,epl_2019-2020

In [10]:
# === –û–±—ä–µ–¥–∏–Ω—è–µ–º standings –∏ team stats ===

import pandas as pd
from pathlib import Path

PROCESSED_DIR = Path("..").resolve() / "data" / "processed" / "fbref"
standings_all = pd.read_csv(PROCESSED_DIR / "epl_standings_all.csv")
team_stats_all = pd.read_csv(PROCESSED_DIR / "epl_team_stats_all.csv")

# –£–±–∏—Ä–∞–µ–º –≤–æ–∑–º–æ–∂–Ω—ã–µ –ø—Ä–æ–±–µ–ª—ã –∏ –ø—Ä–∏–≤–æ–¥–∏–º –∫–ª—é—á–∏ –∫ –µ–¥–∏–Ω–æ–º—É –≤–∏–¥—É
standings_all["squad"] = standings_all["squad"].str.strip()
team_stats_all["squad"] = team_stats_all["squad"].str.strip()

merged = standings_all.merge(team_stats_all, on=["season", "squad"], how="left", suffixes=("_stand", "_team"))
print(f"‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–æ: {merged.shape[0]} —Å—Ç—Ä–æ–∫, {merged.shape[1]} —Å—Ç–æ–ª–±—Ü–æ–≤")

merged_path = PROCESSED_DIR / "epl_full_dataset.csv"
merged.to_csv(merged_path, index=False, encoding="utf-8")
print(f"üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: {merged_path}")

merged.head(3)

‚úÖ –û–±—ä–µ–¥–∏–Ω–µ–Ω–æ: 120 —Å—Ç—Ä–æ–∫, 51 —Å—Ç–æ–ª–±—Ü–æ–≤
üìÅ –°–æ—Ö—Ä–∞–Ω–µ–Ω–æ –≤: /Users/kekc/Projects/GIT/sports-stats-analysis/data/processed/fbref/epl_full_dataset.csv

,rk,squad,mp_stand,w,d,l,gf,ga,gd,pts,...,gls_per90,ast_per90,g_plus_a_per90,g_pk_per90,g_plus_a_pk_per90,xg_per90,xag_per90,xg_xag_per90,npxg_per90,npxg_xag_per90
0,1,Liverpool,38,32,3,3,85,33,52,99,...,2.18,1.82,4.00,2.05,3.87,1.81,1.39,3.21,1.71,3.10
1,2,Manchester City,38,26,3,9,102,35,67,81,...,2.63,1.82,4.45,2.47,4.29,2.42,1.80,4.22,2.20,4.00
2,3,Manchester Utd,38,18,12,8,66,36,30,66,...,1.71,1.13,2.84,1.45,2.58,1.64,1.01,2.65,1.35,2.36

In [11]:
# === –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–∞—á–µ—Å—Ç–≤–∞ –æ–±—ä–µ–¥–∏–Ω—ë–Ω–Ω–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ ===

import pandas as pd
from pathlib import Path

DATASET_PATH = Path("..") / "data" / "processed" / "fbref" / "epl_full_dataset.csv"
df = pd.read_csv(DATASET_PATH)

print(f"‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ: {df.shape[0]} —Å—Ç—Ä–æ–∫, {df.shape[1]} —Å—Ç–æ–ª–±—Ü–æ–≤\n")

# 1Ô∏è‚É£ –ü—Ä–æ–≤–µ—Ä–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç–∏ –∫–ª—é—á–µ–π
dupes = df.duplicated(subset=["season", "squad"]).sum()
print(f"üîé –î—É–±–ª–∏–∫–∞—Ç—ã –ø–æ (season, squad): {dupes}")

# 2Ô∏è‚É£ –ü—Ä–æ–ø—É—Å–∫–∏
na_counts = df.isna().sum()
na_cols = na_counts[na_counts > 0]
print(f"\n‚ö†Ô∏è –ü—Ä–æ–ø—É—Å–∫–∏ –Ω–∞–π–¥–µ–Ω—ã –≤ {len(na_cols)} –∫–æ–ª–æ–Ω–∫–∞—Ö:")
display(na_cols.sort_values(ascending=False))

# 3Ô∏è‚É£ –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö
print("\nüìä –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:")
display(df.dtypes.head(10))

# 4Ô∏è‚É£ –ë—ã—Å—Ç—Ä–∞—è –æ–ø–∏—Å–∞—Ç–µ–ª—å–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞
display(df.describe().T.head(10))

‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ: 120 —Å—Ç—Ä–æ–∫, 51 —Å—Ç–æ–ª–±—Ü–æ–≤

üîé –î—É–±–ª–∏–∫–∞—Ç—ã –ø–æ (season, squad): 0

‚ö†Ô∏è –ü—Ä–æ–ø—É—Å–∫–∏ –Ω–∞–π–¥–µ–Ω—ã –≤ 1 –∫–æ–ª–æ–Ω–∫–∞—Ö:

notes    56
dtype: int64

üìä –¢–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö:

rk           int64
squad       object
mp_stand     int64
w            int64
d            int64
l            int64
gf           int64
ga           int64
gd           int64
pts          int64
dtype: object

          count       mean        std    min    25%    50%      75%     max
rk        120.0  10.500000   5.790459   1.00   5.75  10.50  15.2500   20.00
mp_stand  120.0  38.000000   0.000000  38.00  38.00  38.00  38.0000   38.00
w         120.0  14.625000   6.249790   2.00  11.00  14.00  19.0000   32.00
d         120.0   8.750000   2.855777   2.00   7.00   8.50  10.0000   15.00
l         120.0  14.625000   6.082158   2.00  11.00  14.00  18.2500   30.00
gf        120.0  54.783333  17.730562  20.00  41.00  54.00  66.2500  102.00
ga        120.0  54.783333  14.201541  26.00  45.75  54.00  63.2500  104.00
gd        120.0   0.000000  28.599524 -69.00 -18.25  -1.00  15.0000   73.00
pts       120.0  52.525000  18.205162  12.00  40.00  52.00  65.2500   99.00
pts_mp    120.0   1.382333   0.479157   0.32   1.05   1.37   1.7175    2.61